<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <title>ocr 小工具</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript"> 
        $(function(){
            // console.log($);
            $("#submit").click(function(){
                var data = new FormData($("#image-form"));
                $.ajax({
                    type: "post",
                    url: "http://localhost:8000/ocr/server",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function(res){
                        const textsArr = res.data.texts;
                        const textsStr = textsArr.join("<br/>");
                        var div = document.getElementById("show-data");
                        div.innerHTML = textsStr;
                    },
                    error: function() {
                        alert("请求错误")
                    }
                });
            });
        })
    </script>
</head>
<body>
<div id="content">
    <form id="image-form" action="" method="POST" enctype="multipart/form-data">
        <p>请上传图片: <input type="file" name="image"></p>
        <p><input type="button" id="submit" value="提交"></p>
    </form>
    <div id="show-data"></div>
</div>
</body>
</html>
